.create_form .input{
    width: 300px;
    padding: 10px;
    border: 2px solid;
    border-color: brown;
  }
  .create_form .button
  {
    padding: 10px;
    background-color: brown;
    color: white;
    cursor: pointer;
  }
  .create_form .button:hover
  {
    background-color: black;
    color: white;
  }