.Titel
{
    text-align: center;
    text-decoration:underline;
}
.Todo
{
    display: flex;
    align-items: center;
    width: 360px;
    justify-content: space-between;
    background-color: brown;
    color: white;
    height: 35px;
    padding: 2px 5px 2px 5px;
    margin-top: 2px;
}
.task{
    display: flex;
    align-items: center;
}
.line_through
{
    text-decoration: line-through;
}
.task .icon{
    margin-right: 5px;
    font-size: 15px;
}
.Todo div span{
    margin: 0px 5px 0px 4px;
}
.Todo div .icon
{
    cursor: pointer;
    float: right; 
    
}
.Todo div .icon:hover{
    color: black;
}
